.manufacturer-filters {
 
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center; 
}

.manufacturer-filters-h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;

}

.manufacturer-filters-label {
  margin: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  
}

@media (max-width: 600px) {
  .manufacturer-filters-label {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
}

.manufacturer-filters-input[type="checkbox"] {
  margin-right: 3px;
  vertical-align: middle;
}

.manufacturer-filters-label:hover {
  color: #007bff;
}







