.ProductFilters {
 
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.ProductFilters-h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  
}

.ProductFilters-label {
  
  margin: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
 
}

@media (max-width: 600px) {
  .ProductFilters-label {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
}

.ProductFilters-input[type="checkbox"] {
  margin-right: 3px;
  vertical-align: middle;
}

.ProductFilters-label:hover {
  color: #007bff;
}
  

